@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .pheading {
    font-size: var(--text-md);
    font-weight: var(--font-weight-semibold);
    margin-top: 1.25em;
    border-bottom: 2px solid lightgray;
  }

  .pbody {
    font-size: var(--text-md);
  }
}

@utility pcard {
  @apply bg-base-100;
  @apply shadow-sm;
}

@utility pcard-header {
  @apply text-xl;
  @apply font-bold;
}

@utility pcard-content {
  @apply text-base;
}

@utility pcard-body {
  @apply flex;
  @apply flex-col;
  @apply gap-4;
}

@utility plist {
  @apply list-disc;
  @apply pl-8;
}

@utility plist-2 {
  @apply list-[circle];
  @apply pl-8;
}
